<h3><%= @user.username %></h3>

<label> Pictures: </label>
<br>
<% @user.pictures.each do |pic| %> 
  <%= link_to image_tag(pic.image_url), picture_path(pic) %> 
<% end %>
<br>
<hr>
<br>

<%= form_for(@picture) do |f| %>  
  <div style="background-color:#e0ffff">
    <form class="form-horizontal">
      <fieldset>
        <legend>Post picture</legend>
        <div class="form-group">
          <label for="inputImageUrl" class="col-lg-2 control-label">Image URL</label>
          <div class="col-lg-10">
            <div style="margin-top:10px"><%= f.url_field :image_url, class: "form-control" %></div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputTitle" class="col-lg-2 control-label">Title</label>
          <div class="col-lg-10">
            <div style="margin-top:10px"><%= f.text_field :title, class: "form-control" %></div>
          </div>
        </div>
        <div class="form-group">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
            <%= b.label class:"label-checkbox" do%>
              <%=b.check_box + b.text%>
            <%end%>
          <%end%>
        <div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
<% end %>