<img src="<%= @picture.image_url %>" alt="<%= @picture.title %>">
<h2><%= @picture.title %></h2>
<ul> 
<% @picture.tags.each do |tag| %>
  <li><%= tag.name %> </li>
<% end %>
</ul>
<hr>
<h4>Comments</h4><br>
<% @picture.comments.each do |comment| %>
  <li><%= comment.user.username %></li>
  <p> <%= comment.content %> </p>
<% end %>

<%= form_for Comment.new do |f| %>
  <%= f.hidden_field :picture_id, value: @picture.id %>
  <div style="background-color:#e0ffff">
    <form class="form-horizontal">
      <fieldset>
        <legend>Post a comment</legend>
       <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <%= f.text_area(:content, size: '50x10') %>
            </div>
          </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
<% end %>